<!DOCTYPE html>

<html>
<head>
  <link rel="import" href="../components/x-log-window.html">
</head>
<body>
<element name="log-view" constructor="LogView" extends="div">

<template>
  <template if="isShow">
    <h3>LogView</h3>
    <x-log-window></x-log-window>
  </template>
</template>

<script type="application/dart">
import "package:meta/meta.dart" show override;

import 'View.dart';

class LogView extends View
{
  LogView()
  {
  }

  @override
  String getName() => "log";
}
</script>

</element>
</body></html>
